
body {
    padding: 0;
    margin: 0 auto;
    font-family: 'Rubik', sans-serif;
    color: rgb(0, 0, 0);
}
header {
    width: 100%;
}

header a {
    color: #4F5665;
    text-decoration: none;
}

.nav_menu a:hover {

    color: #F53838;
}
    li {
    justify-content: center;
    padding: 1px;
    position: relative;
  }
  
  li:after {
    content: "";
    border-bottom: 3px solid red;
    display: block;
    width: 0px;
    position: absolute;
    bottom: 0;

  }
  
  li:hover:after {
    width: 100%;
    height: 3px;
    left: 0;
    transition: all .5s linear;
  }
  
  li:hover {
    transition: background .4s ease-in-out;
    color: #111;
  }
  

.container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    z-index: 2;
    position: fixed;
    background: white;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
.hamburger-menu{
    display: none;
}
nav {
    width: 100%;
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0 75px;
    justify-content: space-between;
}

img.nav_img {
    display: flex;
    z-index: -1;
}

/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: none;
    position: relative;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  /* контейнер меню */
.menu__box {
    display: none;
    position: fixed;
    visibility: hidden;
    top: 91px;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #000000;
    opacity: 0.7;
  }
  /* элементы меню */
  .menu__item {
    display: none;
    padding: 12px 24px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
/*     background-color: #CFD8DC; */
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
.sign{
    display: flex;
    align-items: center;
}
.nav_menu {
    margin: 0 auto;
    padding: 0;
    display: flex;
    list-style-type: none;
    width: 451px;
    justify-content: space-between;
}
ul.nav_menu{
    max-width: 451px;
}
.nav_menu li {
}


.nav_signin {
    display: flex;
    padding-right: 30px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.nav_signup {
    width: 150px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #F53838;
    background-color: white;
    border: 1px solid #F53838;
    box-sizing: border-box;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
}

.nav_signup:hover {
    background-color: #F53838;
    color: white;
}
.dropbtn {
    display: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #F53838;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn img{
        height: 25px;
        color: red;
    }

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #c21f1f;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 0px;
    border-radius: 5px 18px;
    left: -125px;
    background-color: #F53838;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: -1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 18px 16px;
    text-decoration: none;
    display: block;
    z-index: 2;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #c21f1f}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
.header_section{
    display: flex;
    margin: 0 auto;
    padding-bottom: 103px;
    flex-direction: row-reverse;
    max-width: 1207px;
    align-items: center;
    padding-top: 90px;
}

.img_illustration {
    animation: animate__backInRight;
    animation-duration: 1s;
}

h1 {
    height: 140px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
}
.inf_top{
    animation: animate__backInLeft;
    animation-duration: 1s;
}
.inf_top p {
    height: 60px;
    margin: 0 auto;
    padding: 20px 0px 50px 0px;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.getstarted {
    width: 250px;
    height: 60px;
    background: #F53838;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    cursor: pointer;
    border: 1px solid #F53855;
    outline: none;
}

.getstarted:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.img_illustration {
}

.inf_container {
    display: flex;
    padding: 0px 55px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1140px;
    height: 200px;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.inf_container span{
    height: 125.57px;
    border: 1px solid #EEEFF2;
}

.inf_container_icon1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}
.inf_container_icon1 p{
    font-size: 25px;
}
.inf_container_icon2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 182px;
}
.inf_container_icon2 p{
    font-size: 25px;
}
.inf_container_icon3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 162px;
}
.inf_container_icon3 p{
    font-size: 25px;
}





.main {
    max-width: 1207px;
    margin: 0 auto;
}

.inf_top_center {
    margin-top: 95px;
    display: flex;
    justify-content: space-between;
}

.inf_container2 {
    max-width: 428px;
    animation: animate__backInRight;
    animation-duration: 1s;
}
.img_illustration2{
    animation: animate__backInLeft;
    animation-duration: 1s;
}

h2 {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
}

.p2_text {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.inf_skill {
    max-width: 215px;
    align-items: center;
}
.inf_skill_content{
    display: flex;
    align-items: center;
}

.inf_ico {

}

.inf_ico2 {

}

.inf_ico3 {

}

.inf_ico4 {

}

.inf_skill p {
    position: relative;
    display: flex;
    margin-left: 10px;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
}

.img_illustration2 {
}

section {
    margin-top: 90px;
    text-align: -webkit-center;
    max-width: 1207px;
    margin: 0 auto;
}

.section {
    width: 100%;
}

h3 {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
}

.section_p {
    max-width: 555px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
}


.container_price{
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.container_section_left {
    width: 330px;
    height: 760px;
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.container_section_left:hover{
    box-shadow: 0 0 7px #DDDDDD;
    }


.container_section_center {
    width: 330px;
    height: 760px;
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.container_section_center:hover{
box-shadow: 0 0 7px #DDDDDD;
}

.container_section_right {
    width: 330px;
    height: 760px;
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s;
}
.container_section_right:hover{
    box-shadow: 0 0 0 rgba(0,0,0,.25);
    transition: box-shadow .3s;
    }

.box_img{
    display: flex;
    margin-top: 80px;
}

.box_p {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

.box_container {
    width: 190.26px;
    height: 150px;
}

.box_container p{
    text-align: left;
    margin-left: 43px;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
}

.free{
    margin-top: 130px;
}

.box_mark1 {
    position: absolute;
    display: flex;
    margin: 0 auto;

}

.box_mark2 {
    position: absolute;
    display: flex;
    margin: 0 auto;
}

.box_mark3 {
    position: absolute;
    display: flex;
    margin: 0 auto;
}

.box_mark4 {
    position: absolute;
    display: flex;
    margin: 0 auto;
}

.free_container{
    width: 178px;
    height: 89px;
    margin-top: 135px;
}


.free_container p{
    display: contents;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
}

.free_button {
    width: 150px;
    height: 45px;
    margin-top: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #F53838;
    background-color: white;
    border: 1px solid #F53838;
    box-sizing: border-box;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
}

.free_button:hover {
    background-color: #F53838;
    color: white;
}

.box_container2 {
    width: 190.26px;
    height: 150px;
}

.box_container2 p{
    text-align: left;
    margin-left: 43px;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
}

.standart_container{
    width: 178px;
    height: 89px;
    margin-top: 90px;
}

.standart_container p{
    display: contents;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin-top: 135px;
}

.standart_button {
    width: 150px;
    height: 45px;
    margin-top: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #F53838;
    background-color: white;
    border: 1px solid #F53838;
    box-sizing: border-box;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
}

.standart_button:hover {
    background-color: #F53838;
    color: white;
}

.box_container3 {
    width: 190.26px;
    height: 150px;
}

.box_container3 p{
    text-align: left;
    margin-left: 43px;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
}

.premium_container{
    width: 178px;
    height: 89px;
    margin-top: 45px;
}

.premium_container p{
    display: contents;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin-top: 135px;
}

.premium_button {
    width: 150px;
    height: 45px;
    margin-top: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #F53838;
    background-color: white;
    border: 1px solid #F53838;
    box-sizing: border-box;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
}

.premium_button:hover {
    background-color: #F53838;
    color: white;
}

.container_gl{
    width: 100%;
    margin-top: 150px;
}

.container_global{
    max-width: 508px;
    height: 170px;
    text-align: center;
}

h4 {
    margin: 0 auto;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
}

.global{
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
}

.map{
    width: 100%;
    margin-top: 155px;
}

.container_logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.netflix{
    display: inline-block;
}

.reddit{
    display: inline-block;
}

.amazon{
    display: inline-block;
}

.discord{
    display: inline-block;
}

.spotify{
    display: inline-block;
}

.container_customer{
    max-width: 514px;
}

.happy_customer{
    margin-top: 40px;
}

h5{
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    margin: 0;
    text-align: center;
}

.p_customer{
    margin-top: 20px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
}
.container-info{
    margin-top: 60px;
}
.carousel {

  }
  
  .carousel-cell {
    width: 400px;
    height: 230px;
    margin-right: 10px;
    border-radius: 5px;
    border: 2px solid #DDDDDD;
  }
  
  .carousel-cell.is-expanded { width: 80%; }
  
  /* cell number */
  .carousel-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
  .carousel-cell:hover{
    border: 2px solid #F53838;
  }
  .flickity-enabled.is-draggable .flickity-viewport{
      cursor: pointer !important;
  }
  .flickity-page-dots .dot.is-selected {
    opacity: 1;
    width: 45px;
    border-radius: 25px;
    background: #F53838;
    transition: 1s;
}
.flickity-button {
    border: 2px solid #F53838 !important;
    color: #F53838!important;
}
.flickity-button:hover {
    border: none !important;
    background: #F53838 !important;
    color: white !important;
}
.flickity-page-dots{
    text-align: left !important;
    bottom: -55px !important;
}
.flickity-prev-next-button {
    transform: translateY(300%) !important;
} 
.flickity-prev-next-button.previous {
    right: 65px !important;
}
.flickity-prev-next-button.next {
    right: 0px !important;
}
.flickity-page-dots li:after {
    border-bottom: none;
}
.info-name{
    display: flex;
    flex-direction: column-reverse;
    padding: 30px;
    text-align: left;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}
.contact-robert{
    display: flex;
    align-items: center;
    max-width: 182px;
    justify-content: space-between;
}
.contact-yessica{
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-kim{
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}
.name p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #4F5665;
    margin: 0;
}
.container-footer{
    max-width: 1140px;
    position: relative;
    z-index: 1;
    bottom: -95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 125px 70px 0px 70px;
    background: white;
    border-radius: 10px;
}
.container-footer-txt-block{
    text-align: left;
    max-width: 374px;
}
.container-footer-txt-block h5{
    text-align: left;
}
footer{
    background: #F8F8F8;
    position: relative;
    z-index: 0;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 25px;

}
.footer-container{
    max-width: 1207px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 180px 0px 140px 0;
    display: flex;
    flex-wrap: wrap-reverse;
}
.footer-header{
    max-width: 340px;
    color: #4F5665;
}
.footer-header img{
    cursor: pointer;
}
.footer-header span{
    font-size: 16px;
    color: #AFB5C0;
}
.footer-nav{
    display: flex;
    justify-content: space-between;
    width: 570px;
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
}
.footer-nav ul{
    padding: 0;
    list-style: none;
}

.footer-nav a{
    text-decoration: none;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}
.footer-nav-li{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.accordion{
    display: none;
}

@media screen and (max-width: 1275px){
    h1 {
        font-size: 40px;
    }
}
@media screen and (max-width: 1170px){
    .hamburger-menu{
        display: block;
    }
    .img_illustration {
        display: none;
    }
    .inf_top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        text-align: center;
        padding-top: 50px;
    }
    h1 {
        font-size: 40px;
        height: auto;
        line-height: 50px;
    }
    .inf_top p{
        padding: 25px 0;
    }
    .header_section {
        padding: 90px 35px 0px 35px;
    }
}
@media screen and (max-width: 1002px) {
    .sign {
        display: none;
    }
    .dropbtn {
        display: block;
    }
    .nav_signin{
        display: none;
    }
    .nav_signup{
        display: none;
    }
    .menu__item {
        display: block;
    }
    .menu__box {
        display: block;
    }
    .menu__btn {
        display: flex;
    }
    nav {
        padding: 0 25px;
    }
    .nav_menu{
        display: none;
    }
    .img_illustration2 {
        display: none;
    }
    .main {
        padding: 0px 52px;
    }
    .inf_top_center {
        justify-content: center;
    }
    .inf_container2 {
        max-width: 100% !important;
        text-align: center;
    }
    .inf_skill {
        margin: 0 auto;
    }
    h2{
        font-size: 35px;
    }
    section{
        padding: 0px 20px;
    }
    .container_price {
        flex-direction: column;
        align-items: center;
    }
    .container_section_left {
        height: 630px;
    }
    .free_container {
        margin-top: 10px;
    }
    .container_section_center {
        height: 675px;
        margin: 25px 0px;
    }
    .standart_container {
        margin-top: 10px;
    }
    .container_section_right {
        height: 730px;
    }
    .premium_container {
        margin-top: 10px;
    }
    .container_logo{
        flex-direction: column;
    }
    
    .netflix{
        margin: 10px 0px;
    }
    
    .reddit{
        margin: 10px 0px;
    }
    
    .amazon{
        margin: 10px 0px;
    }
    
    .discord{
        margin: 10px 0px;
    }
    
    .spotify{
        margin: 10px 0px;
    }

}
@media screen and (max-width: 960px){
    footer {
        padding: 128px 25px 0px 25px;
    }
    .footer-nav {
        display: none;
    }
    .footer-header{
        text-align: center;
    }
    .footer-container {
        padding: 15px 0px 0px 0px;
        justify-content: center;
    }
    .accordion {
        display: block;
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
        background: #FFF;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        padding: 0;
        list-style: none;
      }
      
      .accordion .link {
        cursor: pointer;
        display: block;
        padding: 15px 15px 15px 15px;
        text-align: center;
        color: #4D4D4D;
        font-size: 14px;
        font-weight: 700;
        border-bottom: 1px solid #CCC;
        position: relative;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
      }
      
      .accordion li:last-child .link { border-bottom: 0; }
      
      .accordion li i {
        position: absolute;
        top: 16px;
        left: 12px;
        font-size: 18px;
        color: #595959;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
      }
      
      .accordion li i.fa-chevron-down {
        right: 12px;
        left: auto;
        font-size: 16px;
      }
      
      .accordion li.open .link { color: #F53838; }
      
      .accordion li.open i { color: #b63b4d; }
      
      .accordion li.open i.fa-chevron-down {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    
      .submenu {
        display: none;
        background: #ffffff;
        font-size: 14px;
        padding: 0;
        list-style: none;
        text-align: center;
      }
      
      .submenu li { border-bottom: 1px solid #4b4a5e; }
      
      .submenu a {
        display: block;
        text-decoration: none;
        color: #000000;
        padding: 12px;
        -webkit-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease;
      }
      
      .submenu a:hover {
        background: #b63b4d;
        color: #FFF;
      }
    
}
@media screen and (max-width: 735px){
    .container-footer{
        padding: 105px 0px 25px 0px;
        bottom: 0px;
    }
    .container-footer {
        flex-direction: column;
    }
    .container-footer-txt-block h5 {
        text-align: center;
    }
    .container-footer-txt-block {
        text-align: center;
    }
    footer {
        padding: 15px 25px 0px 25px;
    }
}
@media screen and (max-width: 700px){
    .img_icon1{
        width: 30%;
    }
    .img_icon2{
        width: 25%;
    }
    .img_icon3{
        width: 25%;
    }
    .inf_container_icon1 p, .inf_container_icon2 p, .inf_container_icon3 p{
        font-size: 16px;
        margin-top: 15px;
        text-align: center;
    }
    .inf_container_icon1, .inf_container_icon2, .inf_container_icon3{
    flex-direction: column;
    align-items: center;
    }
}
@media screen and (max-width: 480px){
    h1 {
        font-size: 35px;
    }
    .inf_top p {
        font-size: 14px;
    }
    .inf_container {
        padding: 0px 15px;
    }
    .inf_container_icon1 p, .inf_container_icon2 p, .inf_container_icon3 p {
        font-size: 15px;
        margin-top: 10px;
    }
}
@media screen and (max-width: 420px){
    .info-name {
        padding: 30px 77px;
    }
}
@media screen and (max-width: 375px){
    img.nav_img{
        width: 55%;
    }
    .inf_container span {
        height: 72.57px;
    }
    h2 {
        font-size: 26px;
        line-height: 37px;
    }
}
@media screen and (max-width: 320px){
    h1, h2, h3, h4, h5 {
        font-size: 25px;
        line-height: 32px;
    }
    .p2_text {
        font-size: 12px;
        line-height: 23px;
    }
}
